/**
 * JaSMIn  SCSS
 *
 * @author Stefan Glaser
 */

/* ==================== Constants ==================== */





/* ==================== JaSMIn Root Container ==================== */
div.jsm-root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  overflow: hidden;
  color: #eee;
  /*font-family: "Open Sans", Helvetica, Arial, "Nimbus Sans L", sans-serif;*/
  font-family: sans-serif;

  * {
    margin: 0;
    padding: 0;
  }

  >div {
    position: absolute;
  }

  >div.full-size {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  div.centeredX {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  div.centeredY {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  div.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  div.overlay {
    z-index: 45;
  }

  div.collapsable {
    overflow: hidden;

    -webkit-transition: height 0.42s;
    -moz-transition: height 0.42s;
    transition: height 0.42s;
  }

  a {
    color: #cca;
    text-decoration: none;

    &:hover {
      color: #eec;
      text-decoration: underline;
    }

    &:active {
      color: #ffd;
      text-decoration: underline;
    }

    &.deactive {
      text-decoration: line-through;
    }
  }
}





/* ==================== Single Choice form ==================== */
form.jsm-s-choice {
  display: inline-block;
  border: none;
  border-radius: 4px;
  background: #222;
  padding: 0;
  overflow: hidden;
  margin: 0;
  border: 1px solid black;


  input[type=radio] {
    position: absolute;
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
  }

  label {
    display: inline-block;
    padding: 1px 4px;

    color: #bbb;
    text-shadow: none;
    background-color: #234;

    cursor: pointer;
  }

  label + input[type=radio] + label {
    border-left: 1px solid black;
    padding-right: 5px;
  }

  input[type=radio]:hover + label {
    color: #222;
    background-color:#aaa;
  }

  input[type=radio]:checked + label {
    color: #222;
    background-color:#39e;
  }
}



/* ==================== Score Board ==================== */
div.jsm-game-info {
  top: 10px;
  left: 10px;
  z-index: 20;

  div.info-line {
    padding: 6px 6px 6px 10px;
    background: rgba(0,0,0, 0.6);

    font-size: 0;
    text-shadow: 0 0 1px #eee;



    span {
      padding: 1px 4px;
      font-size: 16px;
    }

    span:first-of-type {
      margin-right: 8px;
    }

    span.game-time {
      text-shadow: 0 0 3px black;
    }

    span.left-team {
      padding: 1px 4px 1px 8px;
    }

    span.left-score, span.right-score {
      font-weight: bold;
    }

    span.right-team {
      padding: 1px 8px 1px 4px;
    }
  }


  div.state-line {
    display: inline-block;
    padding: 0px 100px 3px 10px;

    background-image: linear-gradient(left, rgba(0,0,0, 0.6), rgba(0,0,0, 0.6), rgba(0,0,0, 0.3), rgba(0,0,0, 0.1), rgba(0,0,0, 0));
    background-image: -webkit-linear-gradient(left, rgba(0,0,0, 0.6), rgba(0,0,0, 0.6), rgba(0,0,0, 0.3), rgba(0,0,0, 0.1), rgba(0,0,0, 0));
    background-image: -o-linear-gradient(left, rgba(0,0,0, 0.6), rgba(0,0,0, 0.6), rgba(0,0,0, 0.3), rgba(0,0,0, 0.1), rgba(0,0,0, 0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0, 0.6), rgba(0,0,0, 0.6), rgba(0,0,0, 0.3), rgba(0,0,0, 0.1), rgba(0,0,0, 0));
    overflow: hidden;

    font-size: 13px;
    text-shadow: 0 0 2px black;

    span {
      padding: 4px;
    }
  }
}




/* ==================== Shadow Pane ==================== */
div.jsm-shadow-pane {
  position: absolute;
	bottom: 0px;
	left: 0px;
	height: 180px;
	width: 100%;
	z-index: 30;

  background-image: linear-gradient(bottom, rgba(32, 32, 32, 0.9), rgba(32, 32, 32, 0.3), rgba(32, 32, 32, 0.08), rgba(32, 32, 32, 0));
  background-image: -webkit-linear-gradient(bottom, rgba(32, 32, 32, 0.9), rgba(32, 32, 32, 0.3), rgba(32, 32, 32, 0.08), rgba(32, 32, 32, 0));
  background-image: -o-linear-gradient(bottom, rgba(32, 32, 32, 0.9), rgba(32, 32, 32, 0.3), rgba(32, 32, 32, 0.08), rgba(32, 32, 32, 0));
  background-image: -moz-linear-gradient(bottom, rgba(32, 32, 32, 0.9), rgba(32, 32, 32, 0.3), rgba(32, 32, 32, 0.08), rgba(32, 32, 32, 0));
}




/* ==================== Error Overlay ==================== */
div.jsm-error-pane {
  text-align: center;
  background: rgba(0,0,0, 0.6);
  z-index: 35;

  span {
    display: block;
  }

  span.title {
    margin-top: 20%;
    font-size: 22px;
  }
}






/* ==================== About Overlay ==================== */
div.about-pane {
  padding: 20px;
  // max-width: 400px;
  text-align: center;
  background: rgba(0,0,0, 0.6);
  border-radius: 5px;
  border: 1px solid #222;
  color: #eee;

  h1 {
    padding-bottom: 10px;
  }

  h4 {

  }

  h5 {
    padding-bottom: 20px;
    font-weight: normal;
  }
}






/* ==================== Settings Overlay ==================== */
div.jsm-settings {
  position: absolute;
  bottom: 55px;
  right: 1%;
  border-radius: 5px;
  border: 1px solid #222;
  overflow: auto;
  max-height: 90%;
  max-width: 50%;
  background: rgba(0,0,0, 0.6);

  font-size: 13px;
  text-shadow: 0 0 2px black;

  li {
    display: block;
    clear: both;
    padding: 1px 8px 1px 8px;

    span {
      display: inline-block;
      vertical-align: middle;
      padding: 6px 5px;
    }

    div.spcaer {
      display: inline-block;
      min-width: 30px;
    }

    form.jsm-s-choice {
      float: right;
      margin: 4px 5px;
      font-size: 12px;
    }
  }

  li:hover {
    background: #222;
  }

  li.toggle-item:hover {
    cursor: pointer;
  }

  input[type=color].team-color {
    width: 50%;
    box-sizing: border-box;

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: 2px solid transparent;
    cursor: pointer;
  }
}




/* ==================== Camera Control Pane ==================== */
div.jsm-input-pane {
  background: none;
  z-index: 40;
}





/* ==================== Loading Bar ==================== */
div.jsm-loading-bar {
  top: 0;
  left: 0;
  height: 10px;
  width: 100%;
  overflow: visible;
  z-index: 60;

  div {
    position: absolute;
    top: 0;
    left: 0;
    height: 0px;
    border-top: 1px solid #e00;
    border-bottom: 1px solid rgba(238,0,0, 0.5);

  }

  span {
    position: absolute;
    padding-top: 6px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
    color: silver;
  }
}




/* ==================== Bottom Controls ==================== */
div.jsm-player-bar {
  position: absolute;
	bottom: 0px;
	left: 0px;
	height: 40px;
	width: 100%;

	background: none;
	z-index: 60;

	font-size: 0;


  .time-slider {
    position: absolute;
    bottom: 41px;
    left: 1%;
    width: 98%;

    cursor: pointer;
  }

  .player-btn {
  	float: left;
    height: 38px;
  	width: 38px;
    box-sizing: border-box;
    margin: 0 1px;

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  	border: 2px solid transparent;
  	background-color: transparent;
    background-repeat: no-repeat;
  	background-image: url(../images/icons.svg);

    cursor: pointer;


    &:disabled {
      cursor: default;
    }

    &:focus {
      border: 2px solid yellow;
    }
  }

  .left
  {
  	position: absolute;
  	bottom: 0px;
  	left: 1%;
  	height: 40px;

    span {
    	display: inline-block;
    	padding: 11px 3px;
    	font-size: 14px;
    }

    span:enabled {
    	color: #888;
    }

    button:first-of-type {
    	margin-right: 6px;
    }
  }

  .current-time {
  	margin-left: 8px;
  }

  .total-time {
  	margin-right: 8px;
  }

  .right {
  	position: absolute;
  	bottom: 0px;
  	height: 40px;
  	right: 1%;
  }
}




/* ==================== Monitor Info ==================== */
div.jsm-monitor-stats {
  top: 0;
  right: 0;
  padding: 1px;

  font-size: 12px;
  background: rgba(0,0,0, 0.6);
  z-index: 10;


  ul {
    display: block;
    list-style-type: none;
  }
}




/* ==================== Bottom Controls ==================== */
div.jsm-waiting-indicator {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 12px;
  height: 12px;
  z-index: 50;

  background-color: #c00;
  border-radius: 50%;
  border: 1px solid #600;
}





/* ==================== Icons ==================== */
/* 1 2  3  4  5   6   7   8   9   10  11  12  13  */
/* 0 32 64 96 128 160 192 224 256 288 320 352 384 416 */
/* 0 38 76 114 152 190 228 266 304 342 380 418 456 494 532 */
.ui-icon {
	display: inline-block;
  background-repeat: no-repeat;
	background-image: url(../images/icons.svg);
	width: 34px;
	height: 34px;
}

$icon-y: -2px;

.icon-play       { background-position:   -2px $icon-y; }
.icon-pause      { background-position:  -40px $icon-y; }
.icon-step-fwd   { background-position:  -78px $icon-y; }
.icon-step-back  { background-position: -116px $icon-y; }
.icon-jump-next  { background-position: -154px $icon-y; }
.icon-jump-prev  { background-position: -192px $icon-y; }
.icon-info       { background-position: -306px $icon-y; }
.icon-download   { background-position: -344px $icon-y; }
.icon-settings   { background-position: -382px $icon-y; }
.icon-fullscreen { background-position: -420px $icon-y; }
.icon-partscreen { background-position: -458px $icon-y; }
.icon-replay     { background-position: -496px $icon-y; }
.icon-ask        { background-position: -534px $icon-y; }

.icon-play:hover,
.icon-pause:hover,
.icon-step-fwd:hover,
.icon-step-back:hover,
.icon-jump-next:hover,
.icon-jump-prev:hover,
.icon-info:hover,
.icon-download:hover,
.icon-settings:hover,
.icon-fullscreen:hover,
.icon-partscreen:hover,
.icon-replay:hover,
.icon-ask:hover {
  background-position-y: -40px;
}

.icon-play:disabled,
.icon-pause:disabled,
.icon-step-fwd:disabled,
.icon-step-back:disabled,
.icon-jump-next:disabled,
.icon-jump-prev:disabled,
.icon-info:disabled,
.icon-download:disabled,
.icon-settings:disabled,
.icon-fullscreen:disabled,
.icon-partscreen:disabled,
.icon-replay:disabled,
.icon-ask:disabled {
  background-position-y: -78px;
}






/* ==================== Time Slider ==================== */
// div.time-slider-2 {
//   position: absolute;
//   height: 3px;
//   width: 98%;
//   left: 1%;
//   background: none;
//   border-top: 3px solid transparent;
//   border-bottom: 3px solid transparent;

//   div.track {
//     position: absolute;
//     left: 0;
//     top: 0;
//     display: block;
//     height: 3px;
//     width: 100%;
//     background: rgba(204,204,204, 0.7);
//   }

//   div.progress-bar {
//     position: absolute;
//     left: 0;
//     top: 0;
//     display: inline-block;
//     height: 3px;
//     background: #e00;
//   }

//   div.thumb {
//     display: none;
//     position: absolute;
//     left: 0;
//     top: 50%;
//     transform: translate(-50%, -50%);

//     height: 14px;
//     width: 14px;
//     background-color: #e00;
//     border-radius: 50%;
//   }

//   &:hover {
//     height: 5px;
//     border-top: 2px solid transparent;
//     border-bottom: 2px solid transparent;

//     div.track {
//       height: 5px;
//       background: rgba(221,221,221, 0.7);
//     }

//     div.progress-bar {
//       height: 5px;
//     }

//     div.thumb {
//       display: inline-block;
//     }
//   }
// }











/* ==================== Time Range Slider ==================== */
input[type='range'].time-slider {
	height: 3px;

	-webkit-appearance: none;
	background: -webkit-linear-gradient(left, #e00 0%, #e00 0%, rgba(0,0,0, 0) 0%);


  &:hover {
    height: 5px;
    margin-bottom: -1px;
  }

  // Track
  &::-webkit-slider-runnable-track {
    height: 3px;
    border: none;
    background: rgba(204,204,204, 0.7);
  }
  &::-ms-track {
    height: 3px;
    border: none;
    background: rgba(204,204,204, 0.7);
  }
  &::-moz-range-track {
    height: 3px;
    border: none;
    background: rgba(204,204,204, 0.7);
  }

  &:hover::-webkit-slider-runnable-track {
    height: 5px;
    background: rgba(221,221,221, 0.7);
  }
  &:hover::-ms-track {
    height: 5px;
    background: rgba(221,221,221, 0.7);
  }
  &:hover::-moz-range-track {
    height: 5px;
    background: rgba(221,221,221, 0.7);
  }

  // Thumb
  &::-webkit-slider-thumb {
    visibility: hidden;
    opacity: 0;
    -webkit-appearance: none;
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #e00;
    margin-top: -5px;
    position: relative;
  }
  &::-ms-thumb {
    visibility: hidden;
    opacity: 0;
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #e00;
    margin-top: -5px;
    position: relative;
  }
  &::-moz-range-thumb {
    visibility: hidden;
    opacity: 0;
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #e00;
    margin-top: -5px;
    position: relative;
  }

  &:hover::-webkit-slider-thumb {
    visibility: visible;
    opacity: 1;
  }
  &:hover::-ms-thumb {
    visibility: visible;
    opacity: 1;
  }
  &:hover::-moz-range-thumb {
    visibility: visible;
    opacity: 1;
  }

  // Progress
  &::-ms-fill-lower {
    background: #e00;
  }
  &::-moz-range-progress {
    background: #e00;
  }

  &:hover::-moz-range-progress {
    height: 5px;
  }
}
